#body{
  margin: 0;
  background: #333;
}
#title {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 0;
  left: 30%;
  color: white;
  font-size: 30px;
  /*标题居中*/
  display:  flex;
  align-items: center; /*水平居中*/
  justify-content: center; /*垂直居中*/
  /*background: #666666*/
}
#subtitle{
  position: absolute;
  width: 20%;
  height: 10%;
  top:0%;
  left:0%;
  color: #faf3e0;
  font-size: 10px;
  /*right: 0;*/
}
.update_time{
  color: #eabf9f;
}
#time{
  position: absolute;
  /*width: 30%;*/
  height: 10%;
  top: 5%;
  right: 5%;
  color: white;
  /*#background: #777777*/
}
#c1{
  position: absolute;
  width: 40%;
  height: 30%;
  top: 10%;
  left: 30%;
  /*color: white;*/
  /*background: #eeeeee*/
}
#c2{
  position: absolute;
  width: 40%;
  height: 60%;
  top: 40%;
  left: 30%;
  /*background: #dddddd*/
}
.num{
  width: 25%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  font-size: 20px;
}
.txt{
  width: 25%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#l1{
  position: absolute;
  width: 30%;
  height: 45%;
  top: 10%;
  left: 0;
  /*background: #cccccc*/
}
#l2{
  position: absolute;
  width: 30%;
  height: 45%;
  top: 55%;
  left: 0;
  background: #bbbbbb
}
#r1{
  position: absolute;
  width: 30%;
  height: 45%;
  top: 10%;
  right: 0%;
  background: #aaaaaa
}
#r2{
  position: absolute;
  width: 30%;
  height: 45%;
  top: 55%;
  right: 0%;
  background: #999999
}
